<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  
  <h1 class="h2">Dodaj wyjście</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          
          <!-- <div class="dropdown btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"
                data-toggle="dropdown">
                    <i class="fe fe-calendar"></i>
                      Miesiąc
                    
                </button>
                    <ul class="dropdown-menu">
                      <li>
                          <a class="dropdown-item" href="#">
                            <i class="fe fe-calendar"></i> 
                            Tydzień
                          </a>
                      </li>

                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="fe fe-calendar"></i> 
                            Miesiąc
                        </a>
                    </li>
                  </ul>    
            </div> -->
          <!-- <div class="btn-group mr-2">
            <button type="button"
                    ng-click="calendar.exportExcel()" 
                    class="btn btn-sm btn-outline-secondary"
            >
                <i class="fe fe-export"></i>
                Excel
            </button>
          </div> -->
        </div>
      </div>


    <app-mounth></app-mounth>
