<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Podania</h1>
</div>

<table class="table table-striped  borderless">
    <thead>
      <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Status</th>
        <th>Pracownik</th>
        <th>Tytuł</th>
        <th>Opis</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-rows">
        <td>1</td>
        <td>10.01.2019</td>
        <td><i class="fe fe-check"></i></td>
        <td>Kasper Kalfas</td>
        <td>Wyjście służbowe</td>
        <td>Idę do siedziby Taurona, koło Solarisa bo muszę odebrać kilka rzeczy ...</td>
      </tr>

      <tr class="table-rows">
        <td>1</td>
        <td>10.01.2019</td>
        <td><i class="fe fe-check"></i></td>
        <td>Kasper Kalfas</td>
        <td>Wyjście służbowe</td>
        <td>Idę do siedziby Taurona, koło Solarisa bo muszę odebrać kilka rzeczy ...</td>
      </tr>
    </tbody>
  </table>