
<div id="id01" class="modal">

    <form class="modal-content animate" #tdForm="ngForm" (ngSubmit)="submit(tdForm)">
      <div class="imgcontainer">
        <img src="assets/img/tauron_logo.jpg" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        
        <label for="uname"><b> Podaj email, na który zostanie wysłane nowe hasło </b></label>
        <input type="text" placeholder="Podaj nazwę użytkownika/ email" name = "uname" ngModel required>
        <div class="error-message" *ngIf="errorRequired.uname">Hasło wymagane</div>
        <button type="submit">Wyślij</button>
        
      </div>
    </form>
  </div>