form {
    border: 3px solid #f1f1f1;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding-bottom: 20px;
}

input[type=text], input[type=password], input[type=time],  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    background-color:#343a40;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .removeButton{
    background-color: #f44336;
    
  }

  .imgcontainer {
      text-align: center;
      padding-top: 15px;
      padding-right: 15px;
      display: inline-block;
      font-size: 1.5rem;
      vertical-align: middle;
      margin-bottom: 30px;

  }

  img.avatar {
      width: 30%;
      border-radius: 50%;
  }

  .container {
      padding: 16px;
  }

  span.psw {
      float:  right;
  }


  .modal {
    display: block; 
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }


  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 50%;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  .overTime-title { 
    text-align: center;
    display: block;
    align-content: center;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
  }
  .wyjscie-exit  {


    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .header{

    text-align: center;
  }
  .pogrub{
    font-weight: bold;
  }
  .printbutton{
    padding: 5px;
  }


