<nav class="col-md-2 d-none d-md-block bg-light sidebar " ng>
    <div class="sidebar-sticky left-bar">
      <ul class="nav flex-column left-bar-list">
        
        <li class="nav-item pointer" *ngIf="roleUser === 1">
          <a class="nav-link"
          routerLink="/calender" routerLinkActive="active"
          >
          <i class="fe fe-calendar"></i>
          <i class="fa fa-glass"></i>
          Dodaj wyjście
          </a>
        </li>

        <li class="nav-item pointer" *ngIf="roleUser === 1">
          <a class="nav-link"
          routerLink="/exits" routerLinkActive="active"
         >
          <i class="fe fe-login"></i>
            Moje wyjścia
          </a>
        </li>
        <li class="nav-item pointer" *ngIf="roleUser === 1">
          <a class="nav-link"
          routerLink="/message" routerLinkActive="active"
           >
          <i class = "fe fe-mail"></i>
              Wiadomości
          </a>
      </li>

        <li class="nav-item pointer">
            <a class="nav-link"
            routerLink="/people" routerLinkActive="active"
           >
            <i class= "fe fe-users"></i>
              Pracownicy
          </a>
        </li>

      </ul>

      <h6 *ngIf="roleUser === 2" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Przełożony</span>
              <a class="d-flex align-items-center text-muted">
                <span data-feather="plus-circle"></span>
              </a>
          </h6>
            <ul *ngIf="roleUser === 2" class="nav flex-column mb-2">
                
              <li class="nav-item pointer">
                  <a class="nav-link"
                  routerLink="/extend" routerLinkActive="active"               
                  >
                      <i class="fe fe-user-plus"></i>
                      Zastępstwo
                  </a>
              </li>

              <li class="nav-item pointer">
                      <a class="nav-link"
                      routerLink="/permissions" routerLinkActive="active"               
                     >
                      <i class="fe fe-desktop"></i>
                      Podania
                  </a>
              </li>

            </ul>

          </div>
        </nav>