<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  
    <h1 class="h2">Wiadmości</h1>


    </div>


    <table class="table table-striped  borderless">
            <thead>
              <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Status</th>
                <th>Tytuł</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-rows">
                <td>1</td>
                <td>10.01.2019</td>
                <td><i class="fe fe-check"></i></td>
                <td>Wyjście do dentysty</td>
              </tr>
              <tr class="table-rows">
                <td>2</td>
                <td>10.02.2019</td>
                <td><i class="fe fe-check"></i></td>
                <td>Wyjście do dentysty</td>
                </tr>
            </tbody>
          </table>