<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Pracownicy</h1>
</div>

<table class="table borderless">
        <thead>
          <tr>
            <th>Imię Nazwisko</th>
            <th>Kolejne dni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usersList">
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>
                <div *ngFor="let day of days" 
                    class = "day"
                    (mouseenter) ="hover(day) "
                    [ngClass] = "{'today': todayCheck(day), 'inactive': !checkActiveDay(day)}">
                    {{day?.date()}}
                    <span class="dayinfo" *ngIf="checkActiveDay(day)">Brak wyjść</span>
                </div>
             
            </td>
          </tr>

        </tbody>
      </table>