<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Pracownicy</h1>
</div>

<table class="table borderless">
        <thead>
          <tr>
            <th>Imię Nazwisko</th>
            <th>Kolejne dni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usersList">
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>
              <app-days [userId]="item.id" [days]= "days" [exits] = "exitsArray[item.id]"></app-days>
            </td>
          </tr>

        </tbody>
      </table>