<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Pracownicy</h1>
</div>

<table class="table borderless">
        <thead>
          <tr>
            <th>Imię Nazwisko</th>
            <th>Kolejne dni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usersList">
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>
              <app-days [userId]="item.id" [days]= "days" [exits] = "exitsArray[item.id]" (openModalDay)="openModal($event)"></app-days>
            </td>
          </tr>

        </tbody>
  </table>

  <div class="table-legend">
    <h4>Legenda tablicy</h4>
    <div class="table-legend-content">
          <div class="day check-green">X</div><span class="legend-icon-text"> wyjście zatwierdzone</span>
          <div class="day close-red">X</div><span class="legend-icon-text"> wyjście zablokowane</span>
          <div class="day clock-orange">X</div><span class="legend-icon-text"> wyjście oczekujące na potwierdzenie</span>
    </div>
  </div>

  <app-day-modal #dayModal
  ></app-day-modal>