.borderless td, .borderless th {
    border: none;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.fe {
    margin-right: 10px;
    margin-left: 10px;
}

.today{
    color: red;
}
.inactive{
    color: darkgray;
}
.day{
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
}


/* Tooltip text */
.dayinfo {
    display: none;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    /* padding: 5px 0; */
    border-radius: 2px;
    position: fixed;
    margin-left: -15px;
    padding: 5px;
    
    z-index: 1;
    font-size: .5rem;
  }
  
  .day:hover .dayinfo {
    display: block;
  }

