<div   class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> Ustal zastępstwo</h1>
</div>


<div class="container">
        <div class="row">

                <div class="form-group col-sm-12">
                        <label for="exampleFormControlSelect1">Wybierz zastępce</label>
                        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="extendPerson">
                                <option>Kasper Kalfas</option>
                                <option>Jan Jankowski</option>
                        </select>
                </div>
        </div>
                
        <div class="row">
                <div class="form-group col-sm-6">
                        <label for="startExtend">Początek zastępstwa</label>
                        <input class="form-control" type="date" name="startExtend" id="startExtend">
                
                </div>
                <div class="form-group col-sm-6">

                        <label for="endExtend">Koniec zastępstwa</label>
                        <input class="form-control" type="date" name="endExtend" id="endExtend">

                </div>
        </div>

        <div class="row">
                <div class="form-group col-sm-12">

                        <button type="submit">Wyślij</button>

                <div class="form-group col-sm-12">

        </div>
</div>
